
<!-- Google platform library -->
<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>

<meta name="google-signin-client_id" content="850709707723-t6kqogpgo0ed98vbl99l4avnjak1v3mp.apps.googleusercontent.com">

<script>
  function renderButton() {
    gapi.signin2.render('gSignIn', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
    });
}
//sign in success callback
function onSuccess(googleUser) {
    // Get the Google profile data (basic)
    //var profile = googleUser.getBasicProfile();
    
    // Retrieve the Google account data
    gapi.client.load('oauth2', 'v2', function () {
        var request = gapi.client.oauth2.userinfo.get({
            'userId': 'me'
        });
        request.execute(function (resp) {
            // Display the user details
            var profileHTML = '<h3>Welcome '+resp.given_name+'! <a href="javascript:void(0);" onclick="signOut();">Sign out</a></h3>';
            profileHTML += '<img src="'+resp.picture+'"/><p><b>Google ID: </b>'+resp.id+'</p><p><b>Name: </b>'+resp.name+'</p><p><b>Email: </b>'+resp.email+'</p><p><b>Gender: </b>'+resp.gender+'</p><p><b>Locale: </b>'+resp.locale+'</p><p><b>Google Profile:</b> <a target="_blank" href="'+resp.link+'">click to view profile</a></p>';
            document.getElementsByClassName("userContent")[0].innerHTML = profileHTML;
            
            document.getElementById("gSignIn").style.display = "none";
            document.getElementsByClassName("userContent")[0].style.display = "block";
        });
    });
}
//sign in failure callback
function onFailure(error) {
    alert(error);
}
</script>


<style>
  .container{padding: 20px;}
  .userContent{
    padding: 10px 20px;
    margin: auto;
    width: 350px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12;
  }
  .userContent h3{font-size: 17px;}
  .userContent p {font-size: 15px;}
  .userContent img{max-width: 100%; margin-bottom: 5px;}
</style>
<div class="container">
<div id="gSignIn"></div>
<div class="userContent" style="display:none"></div>
</div>
<main class="form-signin">
  <form action="/login" method="POST">
    <img class="mb-4" src="/images/logo1.png" alt="" width="120" height="120">
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <div class="checkbox mb-3"> 
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
</main>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}