

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form action="/signup" method="post"  id="signup"class="login">
        <div class="login__field signup-di">
					<i class="login__icon fas fa-user"></i>
					<input name="username" type="text" class="login__input" placeholder="Name">
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name="email" type="text" class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="password" type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Sign Up Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>Sign Up via</h3>
				<div class="social-icons">
				<div class="google-btn">
          <a href="/auth/google">
  <div class="google-icon-wrapper">
    <img id="googleLogo"href="/auth/google" class="google-icon" src="/images/google.png"/>
  </div>
  <p class="btn-text"><b><a href="/auth/google">Google Sign In</a></b></p>
</div>
        </a>
		
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}