<main class="homepage-above-fold">
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">The best way to manage your tasks.</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4 main-text">Task Manager is a solution that helps you manage all your tasks in one place, you can have multipe workspaces, tasks lists and more. All these by using <strong>an API to manage most of our functionallities.</strong> </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"><a href="/login">Login Now</a></button>
          <button type="button" class="btn btn-outline-light btn-lg px-4"><a href="/signup">Create a new account</a></button>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom ">How it works?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Easy visualization</h2>
        <p>Get all your workspaces, folders, lists and tasks in a friendly environment</p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Create all you need</h2>
        <p>New spaces, folders, lists and tasks, with integration to the best productivity App</p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Free to use</h2>
        <p>You only need a Click Up account and the rest leave it to us.</p>
      </div>
    </div>
  </div>