<h1 class="workspace-titles">Folders</strong></h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
        <th scope="col">Folder Name</th>
        <th scope="col">Number of lists</th>
        <th scope="col">Number of tasks</th>
        <th scope="col">Go to your lists</th>
        </tr>
    </thead>
    <tbody>
        {{#each folders}}
        <tr>
            <td>{{name}}</td>
            <td>{{lists.length}}</td>
            <td>{{task_count}}</td>
            <td><a href="/profile/lists/{{id}}">See all lists.</a></td>
        </tr>
        {{/each}}
    </table>
</div>


<h2 class="workspace-titles">Create a new folder</h2>
<div class="table-responsive table-container">
    <form action="">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your folder</th>
            <th scope="col">Create your folder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="folderName" id="" placeholder="Write your folder name." required></td>
                <td>
                    <button class="create-btn" type="submit">Create a new folder</button>
                </td>
            </tr>
        </table>
    </form>
</div>
