
<section class="text-center container mt-5">
	<main class="form-signin col-lg-4 mx-auto contenedor-formulario contenedor-saludo">
    <h1>Hi, {{user.username}}!</h1>
			<div class="form-floating">
        <p>We love you are back to work. Are you prepare to be productive today?</p>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><a href="https://app.clickup.com/api?client_id=MTQ6E6ABG2IQZHO4LSAGYKHKY2HAGWCC&redirect_uri=https://task-managermx.herokuapp.com/workspace">Access your Workspaces</a></button>
			<a class="create-account" href="/signup">Logout</a>
	</main>
</section>