<div class="container profile-div">
	<div class="screen profile-container">
        <h1>Hi, {{user.username}}!</h1>
        <p>We love you are back to work. Are you prepare to be productive today?</p>
        <div class="app-btn">
            <a href="/profile/teams">Access my teams</a>
        </div>
        <div class="logout-btn">
            <a href="/logout">Log out</a>
        </div>	
    </div>
</div>	