<h1>Hi, DUDE {{user.username}}</h1>
<br>
<a href="https://app.clickup.com/api?client_id=MTQ6E6ABG2IQZHO4LSAGYKHKY2HAGWCC&redirect_uri=https://task-managermx.herokuapp.com/profile">Access your workspace</a>
<br>
<a href="/logout">Logout</a>
<a href="https://api.clickup.com/api/v2/oauth/token?code=1Z1DCR8Q5M51XT5AWAXDGZSZU2EIZ945&client_id=MTQ6E6ABG2IQZHO4LSAGYKHKY2HAGWCC&client_secret=LRQU1S2ZFFLFAPVW1WYD5BI2DV2UFIBPRU6G4Z024IB01A33GI3598JA2828HWZL">Get Access Token</a>
{{!-- <a href="/profile/teams">Logout</a> --}}

