
<div class="container profile-div">
	<div class="screen profile-container">
        <h1>Hi, {{user.username}}!</h1>
        <p>We love you are back to work. Are you prepare to be productive today?</p>
        <button class="button login__submit">
			<span class="button__text"><a href="https://app.clickup.com/api?client_id=MTQ6E6ABG2IQZHO4LSAGYKHKY2HAGWCC&redirect_uri=https://task-managermx.herokuapp.com/workspace">Access your workspaces</a></span>
		</button>	
        <div class="logout-btn">
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>	
