<h1>Tasks</h1>

{{#each tasks}}
<div>
    <ul>
        <li><strong>Space's name: {{space.name}}</strong></li>
        <li><strong>Folder's name: {{folder.name}}</strong></li>
        <li><strong>List's name: {{list.name}}</strong></li>
        <li><strong>Task's name: {{name}}</strong></li>
    </ul>
{{/each}}