<h1>Teams</h1>

<div>
    {{#each teams}}
    <h2>Team's name: {{name}}</h2>
    {{/each}}
</div>

<div class="card" style="width: 18rem;">
    {{#each teams}}
        <img src="{{avatar}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Team's name: {{name}}</h5>
            <p>Number of members: {{teams.members.length}}</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    {{/each}}
</div>