<section class="text-center container mt-5">
	<main class="form-signin col-lg-4 mx-auto contenedor-formulario contenedor-saludo">
    <img src="" alt="">
    <h1>Team's name</h1>
			<div class="form-floating">
        <p>Number of members</p>
        <p>List of members</p>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><a href="/profile/teams">See all spaces</a></button>
	</main>
</section>
