


<div class="container mt-5">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card card-container-lists">
        <div class="card-body card-header-lists">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p><strong>Space:</strong></p>
          <p><strong>Folder:</strong></p>
          <p><strong>Number of Tasks:</strong></p>
          <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
            <div class="col mx-auto ">
              <a class="see-next-btn" href="">See all tasks</a>
            </div>
            <div class="col mx-auto">
              <a class="delete-button" href="">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card card-container-lists">
        <div class="card-body card-header-lists">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p><strong>Space:</strong></p>
          <p><strong>Folder:</strong></p>
          <p><strong>Number of Tasks:</strong></p>
          <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
            <div class="col mx-auto ">
              <a class="see-next-btn" href="">See all tasks</a>
            </div>
            <div class="col mx-auto">
              <a class="delete-button" href="">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>

</div>
{{!-- 
row-cols-1 row-cols-md-2 --}}