<div class="container profile-div">
	<div class="screen profile-container">
        <h1>Welcome to your Workspace {{user.username}}!</h1>
        <p>Now it is time to catch up with your Teams. <strong>Let's go!</strong> </p>
        <button class="app-btn">
			<span class="app-btn"><a href="/profile/teams">Access my teams</a></span>
		</button>	
    </div>
</div>	
