<section class="text-center container mt-5">
	<main class="form-signin col-lg-4 mx-auto contenedor-formulario contenedor-saludo">
    <h1>Welcome to your Workspace, {{user.username}}!</h1>
			<div class="form-floating">
        <p>Now it is time to catch up with your Teams.</p>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><a href="/profile/teams">Access my teams</a></button>
	</main>
</section>
