body {
  padding: 0px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  padding: 25px;
}

.container-fluid {
  width: 100%;
}

.above-fold-img {
  -webkit-box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
